$font-weight : 600;
$white-color : #EDEDE9;
$grey-color : #BFC3BC;
$black-color : #000;
$error-color : #e01927;
$success-color : #0B431A;
$first-size : 1rem;
$second-size : 2rem;
$third-size : 2px;
$width-size : 20rem;
$visible : visible;
$hidden : hidden;