// VARAIBLES
@import "variables";

body {
    background-image: url(./pictures/pexels-cátia-matos-1072179.jpg);
    .row {
        animation: fade_in_show 2s;
        #left-content {
            background-color: #0504074d;
            transition: all .5s ease-in-out;
            h1 {
                color: $white-color;
                font-size: $second-size * 2;
                font-weight: $font-weight;
            }
            p {
                color: $white-color;
            }
        }
        #right-content {
            padding: $second-size * 2.5 0;
            background-color: rgba(5, 4, 7, .7);
            #form1 {
                height: $width-size + 5;
               
                h1 {
                    color: $white-color;
                    font-size: $second-size;
                    font-weight: $font-weight;
                }
                .control-form {
                    position: relative;
                    input {
                        height: $second-size;
                        width: $width-size;
                        border: none;
                        border-bottom: solid $third-size $grey-color;
                        background-color: rgba(5, 4, 7, .1);
                        color: $grey-color;
                        font-weight: $font-weight;
                    }
                    small {
                        position: absolute;
                        color: $error-color;
                        top: $second-size + .8;
                        left: $first-size;
                        visibility: $hidden;
                    }
                    input::placeholder {
                        padding-left: $first-size;
                        font-weight: $font-weight;
                    }
                    i {
                        position: relative;
                        color: $error-color;
                        left: 17rem;
                        bottom: $second-size;
                        visibility: $hidden;
                    }
                }
                button {
                    height: $second-size + .2;
                    width: $width-size;
                    border: none;
                    background-color: $success-color;
                    font-weight: $font-weight;
                    color: $white-color;
                    border-radius: $third-size + 1;
                    filter: drop-shadow($third-size 4px 6px $black-color);
                    cursor: pointer;
                    font-size: $first-size;
                }
            }
            .control-form.error {
                input {
                    border-bottom: solid $third-size $error-color !important;
                }
                i.fa-exclamation-circle {
                    visibility: $visible !important;
                }
                small {
                    visibility: $visible !important;
                }
            }
            .control-form.success {
                input {
                    border-bottom: solid $third-size $success-color !important;
                }
                i.fa-check-circle {
                    visibility: $visible !important;
                    color: $success-color !important;
                }
            }
            .btn-outline-success {
                padding: .1rem 1.3rem;
            }
        }
    }
}

// MEDIAQUERY FOR XSMALL SCREEN
@media( max-width : 375px) {
    input,
    button {
         width: $width-size - 4 !important;
    }
    i {
        left: 14rem !important;
    }
}

@keyframes fade_in_show {
     0% {
          opacity: 0;
          transform: scale(0)
     }

     100% {
          opacity: 1;
          transform: scale(1)
     }
}

.hidden {
    display: none !important;
}

.show {
    display: flex !important;
}