@charset "UTF-8";
body {
  background-image: url(./pictures/pexels-cátia-matos-1072179.jpg);
}

body .row {
  -webkit-animation: fade_in_show 2s;
          animation: fade_in_show 2s;
}

body .row #left-content {
  background-color: #0504074d;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

body .row #left-content h1 {
  color: #EDEDE9;
  font-size: 4rem;
  font-weight: 600;
}

body .row #left-content p {
  color: #EDEDE9;
}

body .row #right-content {
  padding: 5rem 0;
  background-color: rgba(5, 4, 7, 0.7);
}

body .row #right-content form {
  height: 25rem;
}

body .row #right-content form h1 {
  color: #EDEDE9;
  font-size: 2rem;
  font-weight: 600;
}

body .row #right-content form .control-form {
  position: relative;
}

body .row #right-content form .control-form input {
  height: 2rem;
  width: 20rem;
  border: none;
  border-bottom: solid 2px #BFC3BC;
  background-color: rgba(5, 4, 7, 0.1);
  color: #BFC3BC;
  font-weight: 600;
}

body .row #right-content form .control-form small {
  position: absolute;
  color: #e01927;
  top: 2.8rem;
  left: 1rem;
  visibility: hidden;
}

body .row #right-content form .control-form input::-webkit-input-placeholder {
  padding-left: 1rem;
  font-weight: 600;
}

body .row #right-content form .control-form input:-ms-input-placeholder {
  padding-left: 1rem;
  font-weight: 600;
}

body .row #right-content form .control-form input::-ms-input-placeholder {
  padding-left: 1rem;
  font-weight: 600;
}

body .row #right-content form .control-form input::placeholder {
  padding-left: 1rem;
  font-weight: 600;
}

body .row #right-content form .control-form i {
  position: relative;
  color: #e01927;
  left: 17rem;
  bottom: 2rem;
  visibility: hidden;
}

body .row #right-content form button {
  height: 2.2rem;
  width: 20rem;
  border: none;
  background-color: #0B431A;
  font-weight: 600;
  color: #EDEDE9;
  border-radius: 3px;
  -webkit-filter: drop-shadow(2px 4px 6px #000);
          filter: drop-shadow(2px 4px 6px #000);
  cursor: pointer;
  font-size: 1rem;
}

body .row #right-content .control-form.error input {
  border-bottom: solid 2px #e01927 !important;
}

body .row #right-content .control-form.error i.fa-exclamation-circle {
  visibility: visible !important;
}

body .row #right-content .control-form.error small {
  visibility: visible !important;
}

body .row #right-content .control-form.success input {
  border-bottom: solid 2px #0B431A !important;
}

body .row #right-content .control-form.success i.fa-check-circle {
  visibility: visible !important;
  color: #0B431A !important;
}

body .row #right-content .btn-outline-success {
  padding: .1rem 1.3rem;
}

@media (max-width: 375px) {
  input,
  button {
    width: 16rem !important;
  }
  i {
    left: 14rem !important;
  }
}

@-webkit-keyframes fade_in_show {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.hidden {
  display: none !important;
}

.show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

#form-sign-in #right-content form {
  height: 20rem !important;
}

#form-sign-in #right-content {
  padding: 7rem 0 !important;
}
/*# sourceMappingURL=style.css.map */